flake8==7.3.0
mccabe==0.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytest-cov==7.0.0
certifi==2025.8.3
httpcore==1.0.9
httpx==0.28.1
coverage==7.10.6
fakeredis==2.31.1
redis==6.4.0
sortedcontainers==2.4.0
